n8n/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [272, 48],
      "id": "82c8a8d1-9588-49b4-854f-e6a5766e4482",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e54ddea-e0f3-4898-9b65-1b40f2f855c5",
              "name": "urls",
              "value": "={\n  \"list\": [\n    \"https://yoast.com/what-is-seo/\",\n    \"https://www.semrush.com/blog/technical-seo/\",\n    \"https://en.wikipedia.org/wiki/Search_engine_optimization\",\n\"https://www.wikipedia.org/this-page-does-not-exist\",\n\"https://www.linkedin.com/\"\n  ]\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [464, 48],
      "id": "a7d0f08f-3013-49ec-86b5-25a65357259f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls.list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [656, 48],
      "id": "50c314d7-e2d6-4e05-a0eb-5083d3688421",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json['urls.list'] }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36\",\n  \"Accept\": \"text/html,application/xhtml+xml\",\n  \"Accept-Language\": \"en-US,en;q=0.9\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "body"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 336],
      "id": "3645413e-5254-4693-ab58-4e760ee38792",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b10803f3-cc82-40b5-9300-a7ebc9351a95",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1600, 64],
      "id": "02ea9fc2-7417-4e11-8fe6-f91ea5d22c06",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1376, 64],
      "id": "65ac526f-f49f-4a0d-acfd-62cf1a53c5d4",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.body;\nconst statusCode = $json.statusCode;\n\nconst startedAt = new Date($json.startTime).getTime();\nconst finishedAt = Date.now();\nconst responseTimeMs = finishedAt - startedAt;\n\nconst extract = (regex) => {\n  const match = html?.match(regex);\n  return match ? match[1].trim() : null;\n};\n\nconst title = extract(/<title>(.*?)<\\/title>/i);\nconst metaDescription = extract(\n  /<meta\\s+name=[\"']description[\"']\\s+content=[\"'](.*?)[\"']/i\n);\nconst canonical = extract(\n  /<link\\s+rel=[\"']canonical[\"']\\s+href=[\"'](.*?)[\"']/i\n);\n\nconst h1Count = (html?.match(/<h1\\b/gi) || []).length;\nconst h2Count = (html?.match(/<h2\\b/gi) || []).length;\n\nconst wordCount = html\n  ? html.replace(/<[^>]*>/g, ' ').split(/\\s+/).length\n  : null;\n\nreturn {\n  url: $json.url,\n  statusCode,\n  responseTimeMs,\n  seoAnalyzed: statusCode === 200,\n\n  title,\n  titleLength: title?.length ?? null,\n  metaDescription,\n  metaDescriptionLength: metaDescription?.length ?? null,\n\n  canonical,\n  h1Count,\n  h2Count,\n  wordCount\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2288, -208],
      "id": "505d50b1-0cc5-4bc4-846c-f671a4c13966",
      "name": "On Page"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url =$json[\"urls.list\"] ?? null;\n\nconst statusCode = $json.statusCode;\nconst headers = $json.headers || {};\n\nfunction getHeader(name) {\n  const key = Object.keys(headers).find(\n    k => k.toLowerCase() === name.toLowerCase()\n  );\n  return key ? headers[key] : null;\n}\n\nconst contentType = getHeader('content-type');\nconst cacheControl = getHeader('cache-control');\nconst compression = getHeader('content-encoding');\nconst server = getHeader('server');\n\nconst hasHSTS = !!getHeader('strict-transport-security');\nconst hasCSP = !!getHeader('content-security-policy');\nconst hasXFrameOptions = !!getHeader('x-frame-options');\nconst hasXContentTypeOptions = !!getHeader('x-content-type-options');\nconst hasReferrerPolicy = !!getHeader('referrer-policy');\n\nconst usesHttps = typeof url === 'string' && url.startsWith('https://');\n\n\nconst responseTimeMs =\n  typeof $json.startTime === 'number'\n    ? Date.now() - $json.startTime\n    : null;\n\n\nreturn {\n  url,\n  statusCode,\n  usesHttps,\n\n  contentType,\n  cacheControl,\n  compression,\n  server,\n\n  hasHSTS,\n  hasCSP,\n  hasXFrameOptions,\n  hasXContentTypeOptions,\n  hasReferrerPolicy,\n\n  responseTimeMs,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2288, -400],
      "id": "c27b2484-55d5-4808-b893-a366d42a8444",
      "name": "Technical"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2752, -256],
      "id": "94feae46-95d9-4d23-91d5-5a826c583d51",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const url =\n  $json.url ??\n  $json[\"urls.list\"] ??\n  null;\n\nconst statusCode = $json.statusCode;\n\n// classify response\nlet responseClass = 'unknown';\nlet seoMeaning = 'Unknown response';\n\nif (statusCode >= 300 && statusCode < 400) {\n  responseClass = 'redirect';\n  seoMeaning = 'Redirected URL';\n} else if (statusCode === 403) {\n  responseClass = 'blocked';\n  seoMeaning = 'Crawling forbidden (bot protection)';\n} else if (statusCode === 404) {\n  responseClass = 'not_found';\n  seoMeaning = 'Broken or removed page';\n} else if (statusCode >= 500) {\n  responseClass = 'server_error';\n  seoMeaning = 'Server-side instability';\n}\n\nreturn {\n  url,\n  statusCode,\n\n  accessible: false,\n  seoAnalyzed: false,\n\n  responseClass,\n  seoMeaning,\n\n  // technical SEO placeholders\n  usesHttps: typeof url === 'string' ? url.startsWith('https://') : null,\n  responseTimeMs: $json.startTime\n    ? Date.now() - $json.startTime\n    : null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 208],
      "id": "7430051d-0502-467c-a462-23f684be187b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2992, 0],
      "id": "c334b1f7-e88d-4f76-a0cf-d86c85cd501a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url =$json[\"urls.list\"];\n\nif (!url) {\n  return { ...$json, robotsTxtUrl: null };\n}\n\n// Extract protocol + host manually\nconst match = url.match(/^(https?:\\/\\/[^\\/]+)/i);\n\nconst robotsTxtUrl = match\n  ? `${match[1]}/robots.txt`\n  : null;\n\nreturn {\n  ...$json,\n  robotsTxtUrl\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2144, 0],
      "id": "cab60161-5a02-4f51-93a4-cba3e89e617d",
      "name": "Robots.txt URL construction"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const robotsBody = $json.robotsBody ?? '';\n\nconst robotsExists = robotsBody.length > 0;\n\n// normalize lines\nconst lines = robotsExists\n  ? robotsBody.split('\\n').map(l => l.trim())\n  : [];\n\nconst disallowRules = lines\n  .filter(l => /^disallow:/i.test(l))\n  .map(l => l.replace(/^disallow:\\s*/i, ''));\n\nconst sitemapUrls = lines\n  .filter(l => /^sitemap:/i.test(l))\n  .map(l => l.replace(/^sitemap:\\s*/i, ''));\n\nconst robotsBlocksAll =\n  disallowRules.includes('/') ||\n  disallowRules.includes('/*');\n\nreturn {\n  ...$json,\n  robotsTxtFetched: robotsExists,\n  robotsDisallowCount: disallowRules.length,\n  robotsBlocksAll,\n  robotsSitemaps: sitemapUrls\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2560, -32],
      "id": "25b5109a-a7d5-4efa-9ea1-d7efa401cebd",
      "name": "Robots.txt analysis"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json['urls.list']}}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "key",
              "value": "AIzaSyBkHKNPIkxyUftfPbbUq_HmroWYoUra9-0"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2176, 416],
      "id": "915a47e2-877d-46b5-86c0-7885794ebeed",
      "name": "PageSpeed API (mobile)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$json.robotsTxtUrl}}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0 Safari/537.36\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "robotsBody"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2352, 16],
      "id": "ae495299-76e5-4d63-948f-74d6126ca105",
      "name": "Robots.txt HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{$json['urls.list']}}"
            },
            {
              "name": "strategy",
              "value": "desktop"
            },
            {
              "name": "key",
              "value": "AIzaSyBkHKNPIkxyUftfPbbUq_HmroWYoUra9-0"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2176, 624],
      "id": "a4f10977-c711-4fcb-a156-3cfecb0f9fc2",
      "name": "PageSpeed API (desktop)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lighthouse = $json.lighthouseResult;\n\nif (!lighthouse) {\n  return {\n    ...$json,\n    pagespeedDesktopAvailable: false,\n    pagespeedDesktopScore: null,\n    lcpDesktop: null,\n    clsDesktop: null,\n    inpDesktop: null\n  };\n}\n\nconst categories = lighthouse.categories || {};\nconst audits = lighthouse.audits || {};\n\nconst pagespeedDesktopScore =\n  typeof categories.performance?.score === 'number'\n    ? Math.round(categories.performance.score * 100)\n    : null;\n\nconst lcpDesktop =\n  audits['largest-contentful-paint']?.numericValue ?? null;\n\nconst clsDesktop =\n  audits['cumulative-layout-shift']?.numericValue ?? null;\n\nconst inpDesktop =\n  audits['interaction-to-next-paint']?.numericValue ??\n  audits['total-blocking-time']?.numericValue ??\n  null;\n\nreturn {\n  ...$json['urls.list'],\n  pagespeedDesktopAvailable: true,\n  pagespeedDesktopScore,\n  lcpDesktop,\n  clsDesktop,\n  inpDesktop\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2512, 624],
      "id": "dc61b4dd-2e06-4e7b-8475-e6378a83871b",
      "name": "Extract PageSpeed Metrics Desktop"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const lighthouse = $json.lighthouseResult;\n\nif (!lighthouse) {\n  return {\n    pagespeedMobileAvailable: false,\n    pagespeedMobileScore: null,\n    lcpMobile: null,\n    clsMobile: null,\n    inpMobile: null\n  };\n}\n\nconst categories = lighthouse.categories || {};\nconst audits = lighthouse.audits || {};\n\nreturn {\n  pagespeedMobileAvailable: true,\n  pagespeedMobileScore: Math.round(categories.performance.score * 100),\n  lcpMobile: audits['largest-contentful-paint']?.numericValue ?? null,\n  clsMobile: audits['cumulative-layout-shift']?.numericValue ?? null,\n  inpMobile:\n    audits['interaction-to-next-paint']?.numericValue ??\n    audits['total-blocking-time']?.numericValue ??\n    null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2528, 416],
      "id": "a1511532-efce-4d87-be2e-fc3fa1b14d5f",
      "name": "Extract PageSpeed Metrics Mobile"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2800, 464],
      "id": "35f0a8b4-a13a-4344-97ed-757c90993385",
      "name": "Merge PageSpeed Results"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const mobileScore = $json.pagespeedMobileScore;\nconst desktopScore = $json.pagespeedDesktopScore;\n\nconst lcpMobile = $json.lcpMobile;\nconst lcpDesktop = $json.lcpDesktop;\n\nconst clsMobile = $json.clsMobile;\nconst clsDesktop = $json.clsDesktop;\n\nconst inpMobile = $json.inpMobile;\nconst inpDesktop = $json.inpDesktop;\n\nlet betterOverall = null;\nlet comparisonReason = null;\n\nif (mobileScore != null && desktopScore != null) {\n  if (desktopScore > mobileScore) {\n    betterOverall = 'desktop';\n    comparisonReason = 'Higher overall PageSpeed performance score';\n  } else if (mobileScore > desktopScore) {\n    betterOverall = 'mobile';\n    comparisonReason = 'Higher overall PageSpeed performance score';\n  } else {\n    betterOverall = 'equal';\n    comparisonReason = 'Equal PageSpeed performance score';\n  }\n}\n\nconst lcpWinner =\n  lcpMobile != null && lcpDesktop != null\n    ? (lcpDesktop < lcpMobile ? 'desktop' : lcpMobile < lcpDesktop ? 'mobile' : 'equal')\n    : null;\n\nconst clsWinner =\n  clsMobile != null && clsDesktop != null\n    ? (clsDesktop < clsMobile ? 'desktop' : clsMobile < clsDesktop ? 'mobile' : 'equal')\n    : null;\n\nconst inpWinner =\n  inpMobile != null && inpDesktop != null\n    ? (inpDesktop < inpMobile ? 'desktop' : inpMobile < inpDesktop ? 'mobile' : 'equal')\n    : null;\n\n// --- OUTPUT ---\nreturn {\n  ...$json,\n\n  betterOverall,\n  comparisonReason,\n\n  betterLCP: lcpWinner,\n  betterCLS: clsWinner,\n  betterINP: inpWinner,\n\n  scoreDiff:\n    mobileScore != null && desktopScore != null\n      ? desktopScore - mobileScore\n      : null,\n\n  lcpDiff:\n    lcpMobile != null && lcpDesktop != null\n      ? lcpMobile - lcpDesktop\n      : null,\n\n  clsDiff:\n    clsMobile != null && clsDesktop != null\n      ? clsMobile - clsDesktop\n      : null,\n\n  inpDiff:\n    inpMobile != null && inpDesktop != null\n      ? inpMobile - inpDesktop\n      : null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3008, 304],
      "id": "64ed7510-1320-42ca-af4e-a1da6c9fed0b",
      "name": "Desktop vs Mobile comparing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [3312, 96],
      "id": "a8346217-b68f-4c4c-aece-bbae1b583884",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let score = 100;\nconst penalties = [];\n\nif ($json.statusCode !== 200) {\n  score -= 40;\n  penalties.push('Non-200 HTTP status');\n}\n\nif (\n  $json.robotsBlocksAll === true &&\n  $json.statusCode === 200 &&\n  $json.robotsTxtFetched === true\n) {\n  score -= 10;\n  penalties.push('robots.txt restricts crawling for some agents');\n}\n\nconst mobileScore = $json.pagespeedMobileScore;\nconst desktopScore = $json.pagespeedDesktopScore;\n\nif (mobileScore != null) {\n  if (mobileScore < 50) {\n    score -= 15;\n    penalties.push('Very low mobile PageSpeed score');\n  } else if (mobileScore < 70) {\n    score -= 10;\n    penalties.push('Moderate mobile PageSpeed score');\n  }\n}\n\nif (desktopScore != null && desktopScore < 60) {\n  score -= 5;\n  penalties.push('Low desktop PageSpeed score');\n}\n\nif ($json.lcpMobile != null && $json.lcpMobile > 4000) {\n  score -= 5;\n  penalties.push('Poor mobile LCP');\n}\n\nif ($json.clsMobile != null && $json.clsMobile > 0.25) {\n  score -= 5;\n  penalties.push('Poor mobile CLS');\n}\n\nif ($json.inpMobile != null && $json.inpMobile > 300) {\n  score -= 5;\n  penalties.push('Poor mobile INP');\n}\n\nif (!$json.title || $json.titleLength === 0) {\n  score -= 5;\n  penalties.push('Missing title tag');\n}\n\nif (\n  !$json.metaDescriptionLength ||\n  $json.metaDescriptionLength === 0\n) {\n  score -= 5;\n  penalties.push('Missing meta description');\n}\n\nif ($json.h1Count !== 1) {\n  score -= 5;\n  penalties.push('Invalid H1 structure');\n}\nif ($json.wordCount != null && $json.wordCount < 300) {\n  score -= 5;\n  penalties.push('Very low content length');\n}\n\nif ($json.usesHttps === true) {\n  score += 2;\n}\nif (Array.isArray($json.robotsSitemaps) && $json.robotsSitemaps.length > 0) {\n  score += 3;\n}\n\nscore = Math.max(0, Math.min(100, score));\n\nreturn {\n  ...$json,\n  technicalSeoScore: score,\n  seoGrade:\n    score >= 85 ? 'Excellent' :\n    score >= 70 ? 'Good' :\n    score >= 50 ? 'Average' :\n    'Poor',\n  seoPenalties: penalties\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 96],
      "id": "5bb8fb42-cebb-42ca-85fd-4b2f0bfaaa00",
      "name": "Final Scoring"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  url: $json.url ?? null,\n  statusCode: $json.statusCode ?? null,\n  usesHttps: $json.usesHttps ?? null,\n  responseTimeMs: $json.responseTimeMs ?? null,\n\n  robotsTxtFetched: $json.robotsTxtFetched ?? false,\n  robotsBlocksAll: $json.robotsBlocksAll ?? false,\n  robotsDisallowCount: $json.robotsDisallowCount ?? 0,\n  hasSitemap:\n    Array.isArray($json.robotsSitemaps) &&\n    $json.robotsSitemaps.length > 0,\n\n  titleLength: $json.titleLength ?? null,\n  metaDescriptionLength: $json.metaDescriptionLength ?? null,\n  canonicalPresent: !!$json.canonical,\n  h1Count: $json.h1Count ?? null,\n  h2Count: $json.h2Count ?? null,\n  wordCount: $json.wordCount ?? null,\n\n  pagespeedMobileScore: $json.pagespeedMobileScore ?? null,\n  lcpMobile: $json.lcpMobile ?? null,\n  clsMobile: $json.clsMobile ?? null,\n  inpMobile: $json.inpMobile ?? null,\n\n  pagespeedDesktopScore: $json.pagespeedDesktopScore ?? null,\n  lcpDesktop: $json.lcpDesktop ?? null,\n  clsDesktop: $json.clsDesktop ?? null,\n  inpDesktop: $json.inpDesktop ?? null,\n\n  betterOverall: $json.betterOverall ?? null,\n  scoreDiff: $json.scoreDiff ?? null,\n  lcpDiff: $json.lcpDiff ?? null,\n  clsDiff: $json.clsDiff ?? null,\n  inpDiff: $json.inpDiff ?? null,\n\n  technicalSeoScore: $json.technicalSeoScore ?? null,\n  seoGrade: $json.seoGrade ?? null,\n  seoPenaltyCount: Array.isArray($json.seoPenalties)\n    ? $json.seoPenalties.length\n    : 0,\n  seoPenalties: Array.isArray($json.seoPenalties)\n    ? $json.seoPenalties.join(' | ')\n    : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3712, 96],
      "id": "8e6a566f-2fa9-4a46-ae02-f4ee63fbef42",
      "name": "Final output formatting"
    },
    {
      "parameters": {
        "options": {
          "delimiter": ",",
          "fileName": "SEO",
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [4000, -48],
      "id": "bd802ad0-75bb-46bd-b7a5-6a9a71e57ff2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "compression": true,
          "fileName": "SEO.xlsx",
          "headerRow": true,
          "sheetName": "SEO Sheet"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [4000, 160],
      "id": "7feee2b5-8682-4e3a-b46f-626691136d9e",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  ...$json,\n  startTime: Date.now()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 48],
      "id": "3b5eee91-0e3c-4d53-8068-049d51026460",
      "name": "Adding start time"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Adding start time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "On Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Technical",
            "type": "main",
            "index": 0
          },
          {
            "node": "Robots.txt URL construction",
            "type": "main",
            "index": 0
          },
          {
            "node": "PageSpeed API (mobile)",
            "type": "main",
            "index": 0
          },
          {
            "node": "PageSpeed API (desktop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Page": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Technical": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robots.txt URL construction": {
      "main": [
        [
          {
            "node": "Robots.txt HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robots.txt analysis": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PageSpeed API (mobile)": {
      "main": [
        [
          {
            "node": "Extract PageSpeed Metrics Mobile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Robots.txt HTTP Request1": {
      "main": [
        [
          {
            "node": "Robots.txt analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API (desktop)": {
      "main": [
        [
          {
            "node": "Extract PageSpeed Metrics Desktop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PageSpeed Metrics Desktop": {
      "main": [
        [
          {
            "node": "Merge PageSpeed Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract PageSpeed Metrics Mobile": {
      "main": [
        [
          {
            "node": "Merge PageSpeed Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PageSpeed Results": {
      "main": [
        [
          {
            "node": "Desktop vs Mobile comparing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desktop vs Mobile comparing": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Final Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Scoring": {
      "main": [
        [
          {
            "node": "Final output formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final output formatting": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [[]]
    },
    "Adding start time": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "45ce19032f9fccd652c9d9bd0862596a247049c7396830012cb4001324496854"
  }
}
